.slider-container{
  width: 160px;
  height: 125px;
  position: relative;
}

.slider-img{
  position: absolute;
}

#left-holder{
  height: 160px;
  width: 50px;
  left: 0px;
  top: 0px;
  position: absolute;
}


#right-holder{
  height: 160px;
  width: 50px;
  right: 0px;
  top: 0px;
  position: absolute;
}